* { margin:0; padding:0; }
html, body { width:100%; height:100%; }
canvas { display:block; }

@font-face {
  font-family: 'Lemon-Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Lemon Regular'), local('Lemon-Regular'), url(assets/fonts/Lemon.woff) format('woff');
}